# yaml-language-server: $schema=https://json-schema.org/draft-07/schema#
name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - "*"

env:
  GO_VERSION: 1.19

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION} }

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Upload assets
        uses: actions/upload-artifact@v2
        with:
          name: starter-go-binary
          path: dist/*
